body{
    position: relative;
    background-color: rgb(0, 0, 0);
}
.to-do-list{
    margin: 0 auto;
    width: 720px;
    height: auto;
    background-color: white;
    border-radius: 16px;
}
.div-title{
    text-align: center;
    background-color: #AF7EEB;
    color: white;
    font-size: 50px;
    padding: 10px;
}
.div-list{
    padding: 32px 16px 16px 16px;
    height: auto;
}
/* .item-list{
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
} */
.delete-button{
    display: block;
    border: 0px;
    background-color: red;
    border-radius: 56px;
    font-weight: bold;
    padding: 4px 8px;
    transition: all .5s ease-in-out;
}
.delete-button:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.delete-button-hide{
    display: none;
}
.item-name{
    margin-left: 16px;
}
.item-name2{
    margin: 8px;
}
.item-name3{
    margin: 8px;
    font-size: 20px;
}
.item-name4{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.new-task{
    position: absolute;
    bottom: -24px;
    border-radius: 16px;
    background-color: #AF7EEB;
    border: 0;
    padding: 16px 64px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    font-weight: bold;
    transition: all .5s ease-in-out;
}
.new-task:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.button-div{
    width: 32px;
}
.modal-design{
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
    top: 0;
}
.modal-input{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}
.modal-input1{
    border-radius: 8px;
    border: 0;
    padding: 8px;
    font-size: 16px;
}
.modal-input1:first-of-type{
    margin-right: 16px;
}
.modal-input > button{
    background-color:  #AF7EEB;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.modal-input > button:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}    
.task-done{
    text-decoration-line: line-through;
    opacity: 0.3;
}
.task-holder{
    background-color: #AF7EEB;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}
.check-list{
    margin: 8px;
    width: 24px;
    height: 24px;
}
.flex{
    display: flex;
}
.delete-buttons{
    margin-left: 12px;
    border-radius: 16px;
    border: 0px;
}
.delete-button-holder{
    margin-left: 12px;
}
.new-task-input{
    margin-left: 8px;
    border-radius: 16px;
    padding: 4px;
    text-align: center;
}
.add-task{
    margin-left: 16px;
    background-color: lightblue;
    border: 0;
    border-radius: 56px;
    padding: 4px 8px;
    font-weight: bold;
    transition: all .5s ease-in-out;
}
.add-task:hover{
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
cursor: pointer;
}
.no-task{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;
}